# Это корневой файл настроек для всего проекта
roat = true

# Правила для всех файлов
[*]
# Использовать кодировку UTF-8
charset = utf-8
# Использовать пробелы для отступов
indent_style = space 
# Размер отступа: 4 пробела
indent_size = 4 
#  тип переноса строки: LF
end_of_line = If
# Удалить лишние пробелы в конце строк
trint_trailing_whitespace = true 
# Добавить пустую строку в конец файла
insert_final_newline = true 

# Особые правила для файлов разметки 
[*.{yml,yaml,json,html}]
indent_size = 2
